<div class="mat-typography">
  <div mat-dialog-title class="d-flex justify-content-between">
    <h2 class="mb-0">Anomaly Rejected</h2>
  </div>
  <mat-dialog-content> 
      <p>Anomaly finding is rejected and the record is acceptable. The input will be taken as a learning for future anomaly detection.</p>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-center mb-0 pb-0 mt-3">
    <button mat-flat-button  mat-dialog-close class="custom-button mat-primary" >OK</button>
  </mat-dialog-actions>
</div>

