<div class="drawer-container">
  <mat-nav-list>
    <a
      href="#"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Dashboard"
      routerLink="/"
      class="nav-link"
    >
      <mat-icon class="material-icons-outlined">home</mat-icon>
      <span>Dashboard</span>
    </a>
    <a
      href="#"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Theming preview"
      routerLink="/theming-preview"
      class="nav-link"
    >
      <mat-icon>preview</mat-icon>
      <span>Dashboard</span>
    </a>
    <a
      href="#"
      data-toggle="tooltip"
      data-placement="bottom"
      title="User Management"
      routerLink="/user-management"
      class="nav-link"
    >
      <mat-icon svgIcon="users-solid"></mat-icon>
      <span>Dashboard</span>
    </a>
    <a
      href="#"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Logout"
      routerLink="/login"
      class="nav-link"
    >
      <mat-icon> logout </mat-icon>
      <span>Dashboard</span>
    </a>
  </mat-nav-list>
</div>
