<div>
  <mat-toolbar
    id="header"
    class="header justify-content-between align-items-center mat-elevation-z6"
  >

  <img src="../../../../../assets/images/skynet-logo.png" class="brand-logo" alt="zs-logo" />
    <!-- <div>
       <mat-nav-list
        class="d-flex align-items-center breadcrum"
        *ngIf="breadCrumbs.length > 1"
      >
        <a
          href="#"
          [routerLink]="breadCrumb.link"
          *ngFor="let breadCrumb of breadCrumbs; let i = index"
          [ngClass]="{ 'active-page': breadCrumbs.length - 1 == i }"
        >
          <span class="material-icons-sharp" *ngIf="i > 0">
            trending_flat
          </span>
          {{ breadCrumb.name }}
        </a>
      </mat-nav-list> 
    </div> -->

    <!-- Last Refresh Date
      <strong class="ml-2">28 April 2021</strong> -->
    <!-- <mat-form-field
      class="custom-input"
      *ngIf="breadCrumbs[breadCrumbs.length - 1].link == '/cdm-anomaly-detect'"
    >
      <mat-label>Snapshots</mat-label>
      <mat-select value="snapshot1">
        <mat-option value="snapshot1"
          >Interim Analysis: 2018-12-1 11:23:34</mat-option
        >
        <mat-option value="snapshot2"
          >Interim Analysis: 2019-11-3 14:02:15</mat-option
        >
        <mat-option value="snapshot3"
          >Final Analysis: 2021-05-24 18:37:21</mat-option
        >
      </mat-select>
    </mat-form-field> -->
  </mat-toolbar>
</div>
<!-- 

<header id="header" class="header">
  Header text
  <nav class="navbar navbar-expand-md" id="header-nav">
    <div class="container-fluid">
      <section class="inner-header d-flex align-items-center">
        <div
          class="inner-logo w-100 d-flex align-items-center justify-content-between flex-column"
        >
          <a href="#" class="w-100 d-block"
            ><img
              src="../../../../../assets/images/zs-icon.png"
              alt="logo"
              class="w-100"
          /></a>
          <span>CI</span>
        </div>
        <div class="container-fluid">
          <h4 class="mb-0 title">Competitive Intelligence Analysis</h4>
        </div>
      </section>
      <button mat-raised-button (click)="onToggleDrawerClick()">
        Toggle drawer
      </button>
    </div>
  </nav>
</header> -->
