@import "../../../../../assets/theme/utils/mixins";

@mixin nav-bar-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $custom: map-get($theme, custom);
  .sidenav-container {
    background: mat-color($primary, default);
    padding: 0 10px;
    @include breakpoint(below-1600) {
      padding: 0 6px;
    }
    .mat-list-base {
      padding-top: 0;
      a {
        margin-bottom: 50px;
        @extend .d-inline-flex;
        color: #ffffff;
        position: relative;
        @include breakpoint(below-1400) {
          margin-bottom: 40px;
        }
        .material-icons-sharp,
        .mat-icon {
          font-size: fontSize(36, 28);
          @include elemWidth(36);
          @include elemHeight(36);
          min-height: 28px;
          min-width: 28px;
        }
        .mat-icon {
          font-size: inherit;
        }
        &.active {
          color: #fff;
        }
        span.badge {
          position: absolute;
          background-color: #262c62;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          right: -9px;
          top: -8px;
        }
        &.disabled {
          cursor: default;
          // opacity: 0.5;
        }
      }
      .bottom-link {
        a {
          margin-bottom: 30px;
        }
      }
    }
    .logo {
      max-width: 100%;
      @include elemHeight(70);
      min-height: 50px;
      margin-bottom: 35px;
      margin-top: 5px;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
  }
}
