<div class="sidenav-container h-100 text-center">
  <mat-nav-list class="d-flex flex-column align-items-center h-100">
    <div
      class="logo d-flex align-items-center justify-content-center"
      routerLink="/"
    ></div>
    <div class="d-flex flex-column align-items-center h-100">
      <div *ngIf="!isDashboard">
        <a
          data-toggle="tooltip"
          data-placement="bottom"
          routerLinkActive="active"
          matTooltip="Manage Employees"
          matTooltipPosition="right"
          matTooltipClass="custom-tooltip"
          routerLink="/user-management"
        >
          <span class="material-icons-sharp"> people </span>
        </a>
        <a
          data-toggle="tooltip"
          data-placement="bottom"
          routerLinkActive="active"
          matTooltip="Settings"
          matTooltipPosition="right"
          matTooltipClass="custom-tooltip"
          routerLink="/settings"
        >
          <span class="material-icons-sharp"> admin_panel_settings </span>
        </a>
      </div>
    </div>
  </mat-nav-list>
</div>
