<div class="mat-typography">
  <div mat-dialog-title class="d-flex justify-content-between pb-4">
    <h2 class="mb-0">Details of {{ data.name }}</h2>
    <span class="material-icons-sharp" mat-dialog-close> close </span>
  </div>

  <mat-dialog-content>
    <dl class="user-details">
      <dt>Employee Id :</dt>
      <dd>{{ data.employeeId }}</dd>
      <!-- <dt>Name :</dt>
      <dd>{{ data.name }}</dd> -->
      <dt>Username :</dt>
      <dd>{{ data.userName }}</dd>
      <dt>Passcode :</dt>
      <dd>{{ data.passCode }}</dd>
      <dt>Role :</dt>
      <dd>{{ data.role }}</dd>
      <dt>Contact number :</dt>
      <dd>{{ data.contactNumber }}</dd>
      <dt>Email Id :</dt>
      <dd>{{ data.emailId }}</dd>
      <dt>Address :</dt>
      <dd>{{ data.address }}</dd>
      <dt>Description :</dt>
      <dd>{{ data.description }}</dd>
      <dt>Active Period :</dt>
      <dd>
        {{ data.accessStartDate | date: "dd MMM yyyy" }} -
        {{ data.accessEndDate | date: "dd MMM yyyy" }}
      </dd>
      <dt>Status :</dt>
      <dd>
        <span
          class="user-status"
          [ngClass]="
            data.status == EmployeeStatus.ACTIVE ? 'active' : 'inactive'
          "
          >{{ data.status }}</span
        >
      </dd>
      <dt>Last Logged In :</dt>
      <dd>
        {{
          data.lastLoggedIn
            ? (data.lastLoggedIn | date: "dd MMM yyyy , HH:mm:ss")
            : "Not yet accessed"
        }}
      </dd>
      <dt>Created On :</dt>
      <dd>{{ data.createdAt | date: "dd MMM yyyy, HH:mm:ss" }}</dd>
      <dt>Updated On :</dt>
      <dd>{{ data.updatedAt | date: "dd MMM yyyy, HH:mm:ss" }}</dd>
    </dl>
    <!-- <div [ngClass]="data.status == UserStatus.ACTIVE ? 'active' : 'inactive'">
  </div> -->
  </mat-dialog-content>
</div>
